fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1

# DB
sqlalchemy==2.0.42
pymysql==1.1.1

# AI / CV
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==10.4.0
tensorflow==2.16.2
onnxruntime==1.18.0

# 시선 추정 (L2CS-Net 의존)
dlib==19.24.4
